.successPage {
    background-color: #fffead;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Heading {
    font-size: 36px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

.HeadingText {
    font-size: 20px !important;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
    /* margin-top: 1%; */
    margin: 5% 25%;
}

h5 {
    font-size: 16px;
    font-weight: 800;
}

a {
    font-size: 16px;
    font-weight: 800;
    color: #faa32a;
}